{% extends "header.html" %}
{% block body %}


<div class="container marketing">
	    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

      <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">New city. New job. New website. <span class="text-muted">Who dis?</span></h2>
        <p class="lead">
          <p>I am lingering with the feeling of how scary it is to publish something you have written like this.</p>

          <h4>0. My minimum viable product (MVP).</h4>

          <p>My website is far from finished. My thoughts are far from polished. That said, I will rather start now, than waiting for too long and maybe never start. I better just jump into it!

          With this first post, I will share my personal reasons for why I am creating a website and why do it through a platform like this.</p>

          <h4>1. Creating my website from scratch - a great way to learn new technologies.</h4>

          <p>I want a side project that encourages me to play around with technologies that I have had to learn during my education, and now my work. Instead of creating a website with automated tools like Wix, Squarespace, and Wordpress, I want a playground where I can create something with new technologies and frameworks.</p>

          <p>The now first version of the website is developed with Python and the web framework Flask, hosted by DigitalOcean. I learned how to use these tools through a part-time job and wanted to dive deeper into these technologies.</p>
           
          <p>Currently, I am doing a migration over to the .NET world and hosting with Microsoft Azure. A move motivated by my new job in Avanade. I already see a huge benefit of this project - accelerating my learning of the new technology and working environments.</p> 

          <h4>2. Where is the path to thought leadership?</h4>

          <p>During the last few years, I have had the pleasure of doing a podcast and talks about technology, leadership and time management. This has given me a lot of personal value and opportunities that I definitely did not see coming.</p>

          <p>I hope that this new project of writing and sharing will enable me to learn more and welcome new opportunities.</p>

          <h4>3. Self-reflection.</h4>

          <p>Editing audio files with my own voice and editing text for academia has given me great insight into where I am today and how much I have learned since I started on my masters. I think that projects like these can easily be forgotten when I now start working. I hope that this project will force me to continue on the same path on which I have started.</p>

          <p>Tomorrow I will present my website and thoughts about this subject in front of my colleagues. It will be very interesting to see the response and get more feedback on what I am doing.</p>

          <p>I’m out here!</p>
        </p>
      </div>
            <div class="col-md-5 order-md-1">
        <img style="max-width: 100px; margin-top: -7px;" src="{{ url_for('static', filename='images/mainlogo.png') }}">
      </div>
    </div>

    <hr class="featurette-divider">
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
</div>


{% endblock %}